.ov_hi {
	overflow: hidden;
}

.alwaysShow td {
	position: relative;
}

.alwaysShow td .df-class {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
}

.df-persp,
.persp-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 6000;
	pointer-events: auto;
	/*禁止事件穿透*/
}

.persp-bg {
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1;
}

.df-box {
	width: 100% !important;
	background: #fff;
	font-size: 12px;
	text-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	overflow: hidden;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	bottom: 0;
	right: 0;
	position: absolute;
}

.df-main {
	margin-top: 44px;
}
#input1{
	width: 65%;
}
.df-item {
	position: relative;
	overflow: hidden;
}

.df-item .G-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.G-top {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: linear-gradient(#fff 0%, rgba(255, 255, 255, .85)45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.45, rgba(255, 255, 255, .85)), color-stop(0.75, rgba(255, 255, 255, .6)), to(rgba(255, 255, 255, .4)));
	background: -moz-linear-gradient(#fff 0%, rgba(255, 255, 255, .85) 45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
	background: -o-linear-gradient(#fff 0%, rgba(255, 255, 255, .85) 45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
}

.G-mid {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.G-btm {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6)25%, rgba(255, 255, 255, .85) 65%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), color-stop(0.25, rgba(255, 255, 255, .6)), color-stop(0.65, rgba(255, 255, 255, .85)), to(#fff));
	background: -moz-linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .85) 48%, #fff 100%);
	background: -o-linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .85) 48%, #fff 100%);
}

.df-ctn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0 2px;
	position: relative;
	background: #000;
	zoom: 1;
}

.df-wrap {
	display: inline-block;
}
.df-wrap table tbody,.df-wrap table,.df-wrap,.df-wrap table tbody tr {
	width: 100%;
	display: inline-block;
}
.df-wrap table tbody tr td{
	width: 33.33%;
	display: inline-block;
}
.df-strip {
	position: relative;
	z-index: 2;
}

.df-ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.df-li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5px;
	display: block;
	text-align: center;
	vertical-align: bottom;
	filter: Alpha(Opacity=90);
	/* text-shadow: 0 1px 1px #000;*/
	font-size: 18px;
	white-space: nowrap;
}

.df-class {
	font-size: 18px;
}

.df-btn {
	display: block;
	background-color: #f7f7f7;
	color: #df4442;
	height: 44px !important;
	position: absolute;
	top:0;
	width: 100%;
}


.df-btn div {
	display: inline-block;
	width: 50%;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 44px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.df-btn .df-ok{
	text-align: right;
	padding-right: 3%;
}
.df-btn .df-no{
	text-align: left;
	padding-left: 3%;
}
.df-btn div:active {
	background: #f60;
	color: #fff;
	border: 1px solid #f60;
}
.df-hide {
	visibility: hidden;
}


/*样式设置*/
input{
	border: none;
	outline: none;
}
.formAll{
	background-color: #eaeaea;
}
.formAll>form>ul{
	background-color: white;
}
.formAll>form>ul>li{
	width: 90%;
	height: 51px;
	margin: 0 auto;
	line-height: 51px;
	border-bottom: 1px solid #d2d2d2;
	position: relative;
	color: #808080;
}
.formAll>form>ul>li>input{
    position: absolute;
    right: 0;
    top: 17px;
    text-align: right;
    color: #c9c9c9;
    font-size: 13px;
    width: 30%;
}
.petSex{
	position: absolute;
    right: 0;
    top: 8px;
    color: #c9c9c9;
    font-size: 13px;
    height: 52px;
    z-index: 120;
}
.petSex>img{
	height: 50%;
	width: auto;
}
.petSex>span{
	
	position: relative;
	bottom: 7px;
}
.formAll>form>ul>li:nth-child(3)>input,.formAll>form>ul>li:nth-child(4)>input,.formAll>form>ul>li:nth-child(5)>input{
	position: absolute;
	right: 7%;
}
.formAll>form>ul>li:nth-child(3)>img,.formAll>form>ul>li:nth-child(4)>img,.formAll>form>ul>li:nth-child(5)>img{
	position: absolute;
	right: 1%;
	height: 30%;
	width: auto;
	top: 17px;
}
.submitAll{
	width: 90%;
	height: 43.5px;
	border-radius: 8px;
	background-color: #df4442;
	color: white;
	position: relative;
	left: 5%;
	top: 22px;
}
.G-mid{
	color: #333 !important;
}
.G-top{
	color: #c9c9c9 !important;
}