.share{
	position: absolute;
	right: 5%;
	top: 0px;
}
.share>a{
	font-size: 17px;
	color: white;
}
#app>div p{
	padding-left: 5%;
}
.baseTop{
	color: #808080;
	background-color: #eaeaea;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}
.baseBottom{
	width: 100%;
	height: 70px;
}
.baseBottom>div:nth-child(1) p{
	padding-top: 15px;
	color: #808080;
	font-size: 13px;
}
.baseBottom>div:nth-child(2) p{
	padding-bottom: 15px;
	padding-top: 7px;
	color: #808080;
	font-size: 13px;
}
.allCssModel{
	padding-bottom: 15px;
	padding-top: 15px;
	color: #808080;
	font-size: 13px;
}