*{margin: 0;padding: 0;}
html,body,.clerrer_bible,.Pet_sex,.test_results{
    width:100%;
    height:100%;
}
.Pet_sex{
    display: none;
}
.test_results{
    display: none;
}
.navigation_bar,.Pet_sex_navigation_bar,.dog_varieties_navigation_bar,.test_bar{
    width:100%;
    height: 8.3871313%;
    background-color:#df4442;
    position: relative;

} 
a{
    text-decoration: none;
}
/*基于最大盒子的媒体查询响应*/
@media screen and (min-width:900px) {
    html {
        font-size: 25px;
    }
}
@media screen and (min-width:700px) and (max-width:900px) {
    html {
        font-size: 18px;
    }
}
@media screen and (min-width:400px) and (max-width:700px) {
    html {
        font-size: 12px;    
    }
}
@media screen and (min-width:370px) and (max-width:400px) {
    html {
        font-size: 11px;
    }
}
@media screen and (min-width:350px) and (max-width:370px) {
    html {
        font-size: 10.5px;
    }
}
@media screen and (min-width:300px) and (max-width:350px) {
    html {
        font-size: 9.3px;
    }
}
@media screen and (max-width:300px) {
    html{
        font-size: 6px;
    }
}
.return_label,.Pet_sex_return_label,.dog_varieties_return_label,.test_label{
    width: 4.255555%;
    height:50%;
    position: absolute;
    top: 15px;
    left: 20px;
}
.clerrer_bible_guide,.Pet_sex_clerrer_bible_guide,.dog_varieties_clerrer_bible_guide{
    margin:auto;
    font-size: 1.5rem;
    color:#fff;
    position: absolute;
    top: 15px;
    left:50%;
    margin-left: -35px;
}
.content_box,.Pet_sex_content_box{
    display: block;
	width: 100%;
    height: 91%;
    position: relative;
}

#app,#test{
    padding-left: 15px;
	padding-right: 15px;
	list-style-type: none;
   
}
#app li{
	width:100%;
    height: 70px;
    line-height: 70px;
	font-size: 1.5rem;
    color:#333333;
    position: relative;
}
#app img{
    vertical-align:middle;
    /*margin-top: 12px;*/
    width: 50px;
    height:50px;
}

/*体重测试样式*/
#test li{
    width:100%;
    height: 55px;
    font-size: 1.5rem;
    line-height: 63px;
    color:#333333;
    position: relative;
}
#test img{
    /*margin-top: 12px;*/
    width:20px;
    height:34px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
}
.dog_img{
    width: 100%;
    height: 67.39%;
    position: relative;
}
.dog_img img{
    width:40.263%; 
    position: relative;
    left: 50%;
    margin-left: -25%;
    margin-top: 15px;
}
#box{
    width: 100%;
    height: 33.33333%;
    position: relative;
}
#box li{
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 100%;
    height: 14.2857%;
    font-size: 1.5rem;
}
.weight{
    margin: 0 auto;
    width:23.157%;
    height: 100%;
    overflow: auto;
}
#box li div input{
    outline:0;
    display: block;
    float: left;
    width: 60.18189%;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #000;
}
#box li div span:nth-child(2){
    display: block;
    float: right;
    width: 30.18189%;
    height: 100%;
   
}
#calculate{
    width: 86.9157%;
    margin:0 auto;
    position: absolute;
    left: 50%;
    height: 30%;
    margin-left: -165px;
    margin-top:10px; 
    background-color: #df4442;
    color: #fff;
    border-radius: 10px;
}


/*pet性别*/
#pet{
    padding-left: 15px;
    padding-right: 15px;

}
#pet ul li {
    list-style-type: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
    position: relative;
}
#pet ul li div:nth-child(1){
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
#pet ul li div:nth-child(2){
    float: right;
    width: 45px;
    height: 45px;
    display: none;
}
#pet ul li div:nth-child(2) img{
    margin-top: 15px;
}


/*狗的品种*/
/*头部开始*/
.dog_varieties{
    width:  100%;
    display: none;
}
.dog_varieties .navigation_bar{
    width:100%;
    height: 44px;
    background-color:#df4442;
    position: relative;
}
.top_sickness{
    width: 100%;
    height: 8.387%;
    background-color: #df4442;
    position: relative;
    text-align: center;
    line-height: 88px;
    font-size: 1.5rem;
    color: white;
}
.top_sickness .top_sickness_back>img{
    position: absolute;
    top: 10px;
    left: 5.33333%;
} 



/*搜索狗狗*/

.search_dog{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    position: relative;
}
.search_dog>.search_dog_input{
    width: 80%;
    margin: 0 auto;
    height: 30px;
}
.search_dog>.search_dog_input>input{
    width: 100%;
    height: 27px;
    background-color: #eeeeee;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}
.search_dog>.search_dog_big_box{
    margin: 0 auto;
    width: 127px;
    height: 52px;

}
.search_dog>.search_dog_big_box>.search_dog_box{
    position: absolute;
    top: 3px;
}
.search_dog>.search_dog_big_box>.search_dog_box>img{
    vertical-align:middle;
    position: relative;
    width: 17px;
    height: 17px;
    bottom: 3px;
}
.search_dog>.search_dog_big_box>.search_dog_box>span{
    font-size: 1.5rem;
    color: #c5c5c5;
    padding-left: 5px;
}




/*狗的种类*/
#EnglishLetterWord{
    width: 15px;
    height: 480px;
    position: fixed;
    right: 5px;
    bottom: 20px;
    font-size: 13px;
    
}
#EnglishLetterWord>.EnglishBigBox{
    padding-top: 1px;

}
#EnglishLetterWord div a{
    text-decoration:none;
}
#EnglishLetterWord>.EnglishBigBox>a{
    
    color: #c5c5c5;
}
.sicknessAllWord{
    
    width: 100%;
    height: 51px;
    margin: 0 auto;
}
.sicknessAllWord div{
    
}
.sicknessAllWord>a{
    font-size: 1.5rem;
    line-height: 51px;
    color: #808080;
}

/*狗狗年龄*/
/*蒙版*/
.popWindow {  
        background-color:#000;  
        width: 100%;  
        height: 100%;  
        left: 0;  
        top: 0;  
        filter: alpha(opacity=50);  
        opacity: 0.5;  
        z-index: 10;  
        position: absolute; 
    } 
    .maskLayer { 
        border:1px solid #ccc;   
        background-color:#fff;  
        width: 100%;  
        height: 34.904%;  
        line-height: 30px;  
        bottom:0;  
        left: 0;  
        color:#000;  
        z-index: 20;  
        position:absolute;  
        text-align:center;  
    } 

    #year_YN{
        width: 100%;
        height: 18.187%;
        background-color:#f7f7f7;
        color: red;
        font-size: 1.5rem;
        border-bottom:3px solid #f1f1f1; 
    }
    #year_NO{
        width: 20%;
        height: 100%;
        float: left;
        line-height: 42px;
    }
    #year_YES{
        width: 20%;
        height: 100%;
        line-height: 42px;
        float: right;
    }
    .year_select{
        position: relative;
        width: 100%;
        height: 80%;
        border: 1px solid #000;
    }
    #select{
        width: 30%;
        height: 20px;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -10px;
        /*overflow: auto;*/

    }
    .year_ul{
        list-style-type: none;
        position: absolute;
        left: 0;
        top:-120px;
        width: 100%;
        height: 240px;
        border: 1px solid #000;
    }
    

    /*时间选择*/
    .ov_hi {
    overflow: hidden;
}

.alwaysShow td {
    position: relative;
}

.alwaysShow td .df-class {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.df-persp,
.persp-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6000;
    pointer-events: auto;
    /*禁止事件穿透*/
}

.persp-bg {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
}

.df-box {
    width: 100% !important;
    background: #fff;
    font-size: 12px;
    text-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    overflow: hidden;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    bottom: 0;
    right: 0;
    position: absolute;
}

.df-main {
    margin-top: 44px;
}
#input1{
    width: 65%;
}
.df-item {
    position: relative;
    overflow: hidden;
}

.df-item .G-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.G-top {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(#fff 0%, rgba(255, 255, 255, .85)45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.45, rgba(255, 255, 255, .85)), color-stop(0.75, rgba(255, 255, 255, .6)), to(rgba(255, 255, 255, .4)));
    background: -moz-linear-gradient(#fff 0%, rgba(255, 255, 255, .85) 45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
    background: -o-linear-gradient(#fff 0%, rgba(255, 255, 255, .85) 45%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .4) 100%);
}

.G-mid {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.G-btm {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6)25%, rgba(255, 255, 255, .85) 65%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .4)), color-stop(0.25, rgba(255, 255, 255, .6)), color-stop(0.65, rgba(255, 255, 255, .85)), to(#fff));
    background: -moz-linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .85) 48%, #fff 100%);
    background: -o-linear-gradient(rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .85) 48%, #fff 100%);
}

.df-ctn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 2px;
    position: relative;
    background: #000;
    zoom: 1;
}

.df-wrap {
    display: inline-block;
}
.df-wrap table tbody,.df-wrap table,.df-wrap,.df-wrap table tbody tr {
    width: 100%;
    display: inline-block;
}
.df-wrap table tbody tr td{
    width: 33.33%;
    display: inline-block;
}
.df-strip {
    position: relative;
    z-index: 2;
}

.df-ul {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.df-li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    display: block;
    text-align: center;
    vertical-align: bottom;
    filter: Alpha(Opacity=90);
    /* text-shadow: 0 1px 1px #000;*/
    font-size: 18px;
    white-space: nowrap;
}

.df-class {
    font-size: 18px;
}

.df-btn {
    display: block;
    background-color: #f7f7f7;
    color: #df4442;
    height: 44px !important;
    position: absolute;
    top:0;
    width: 100%;
}


.df-btn div {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.df-btn .df-ok{
    text-align: right;
    padding-right: 3%;
}
.df-btn .df-no{
    text-align: left;
    padding-left: 3%;
}
.df-btn div:active {
    background: #f60;
    color: #fff;
    border: 1px solid #f60;
}
.df-hide {
    visibility: hidden;
}


/*样式设置*/
input{
    border: none;
    outline: none;
}
.formAll{
    background-color: #eaeaea;
}
.formAll>form>ul{
    background-color: white;
}
.formAll>form>ul>li{
    width: 90%;
    height: 51px;
    margin: 0 auto;
    line-height: 51px;
    border-bottom: 1px solid #d2d2d2;
    position: relative;
    color: #808080;
}
.formAll>form>ul>li>input{
    position: absolute;
    right: 0;
    top: 17px;
    text-align: right;
    color: #c9c9c9;
    font-size: 13px;
    width: 30%;
}
.petSex{
    position: absolute;
    right: 0;
    top: 8px;
    color: #c9c9c9;
    font-size: 13px;
    height: 52px;
    z-index: 120;
}
.petSex>img{
    height: 50%;
    width: auto;
}
.petSex>span{
    
    position: relative;
    bottom: 7px;
}
.formAll>form>ul>li:nth-child(3)>input,.formAll>form>ul>li:nth-child(4)>input,.formAll>form>ul>li:nth-child(5)>input{
    position: absolute;
    right: 7%;
}
.formAll>form>ul>li:nth-child(3)>img,.formAll>form>ul>li:nth-child(4)>img,.formAll>form>ul>li:nth-child(5)>img{
    position: absolute;
    right: 1%;
    height: 30%;
    width: auto;
    top: 17px;
}
.submitAll{
    width: 90%;
    height: 43.5px;
    border-radius: 8px;
    background-color: #df4442;
    color: white;
    position: relative;
    left: 5%;
    top: 22px;
}
.G-mid{
    color: #333 !important;
}
.G-top{
    color: #c9c9c9 !important;
}

/*测试结果*/
.test_content{
    position: relative;
    width: 100%;
    height: 13.903%;
    overflow: hidden;
}
.ditu{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #fafcfd;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 50px;

}
#test_img{
    z-index: 999px;
    position: absolute;
    left: 8px;
    bottom: 0px;
}
.ditu_second{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 27px;
    bottom:-20px;
}
.test_box{
    position: relative;
    left: 15px;
    width: 130px;
    height:100%;
     
}
.ditu_first{
    width: 0;
    height: 0;
    border:12px solid ;
    border-color:transparent transparent white transparent;
    position: absolute;
    left: 90px;
    bottom:20px;
    transform:rotate(65deg);
    -ms-transform:rotate(65deg);     /* IE 9 */
    -moz-transform:rotate(65deg);    /* Firefox */
    -webkit-transform:rotate(65deg); /* Safari 和 Chrome */
    -o-transform:rotate(65deg);  
}
.content{
    position: absolute;
    left: 45px;
    bottom: 12px;
    font-size: 1.5rem;
    color: #cf4d4c;
}
.results_box{
    width: 200px;
    height:100%;
    position: absolute;
    left: 150px;
    bottom: 0;
    font-size: 1.3rem;
}
.input_results{
    width: 100px;
    height: 45px;
    font-size: 1.5rem;
    color: #cf4d4c;
    line-height: 50px;
}
.advice_box{
    position: relative;
    width: 100%;
    height: 7.143%;
    background-color: #eaeaea;
}
.advice_box_child{
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -10px;
    font-size: 1.5rem;
    color: #9d9d9d;
}
.advice_content{
    width: 90%;
    height: 65%;
    padding: 15px;
    font-size: 1.4rem;
    text-indent:15px;
    color:#565656;
}