div,html,body,p,span,a,ul,i,em,li,ol,img,input,button,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
	list-style-type: none;
	text-decoration: none;
}
.comment{
	width:100%;
	background-color: #eaeaea;
}
.comment .comment_title{
	width:100%;
	height:230px;
	background:url(../img/maoxingren-tu1@2x.png) top left no-repeat;
	background-size:100% 100%;
}
.comment .comment_title p{
	margin-left:5%;
	padding-top:5%;
}
.comment .content{
	width:90%;
    margin:3% 5% 0 4%;
    border-bottom:1px solid #bbbbbb;
}
.comment .content p{
	font-size:1.2rem;
}
.comment .content p:nth-child(1){
	margin-bottom: 4%;
}
.comment .content p:nth-child(2){
	color:#808080;
	margin-bottom:2%;
}
.comment .content p:nth-child(3){
	color:#808080;
	margin-bottom:5%;
}
.comment .content p:nth-child(4){
	margin-bottom: 5%;
}
.comment .content p:nth-child(4) span{
	color:red;
}
.comment .content p:nth-child(4) span:nth-child(2){
	color:#808080;
	font-size:1rem;
	margin-left:2%;
	text-decoration: line-through;
}
.comment .product{
	width:90%;
	padding-top:5%;
	height:50px;
    margin:3% 5% 0 4%;
    background-color: #eaeaea;
}
.comment .product p{
	width:50%;
	float:left;
	height:44px;
	text-align: center;
	color:#808080;
	font-size:1.2rem;
}
.comment .product p:nth-child(1){
    border-bottom:4px solid black;
}
.comment .product span:first-child{
	border-bottom:4px solid black;
}
.comment .com_content ul{
	width:100%;
	margin-top:10%;
}
.comment .com_content ul li{
	width:90%;
	border-bottom:1px solid #bbbbbb;
	margin:3% 5% 0 4%;
}
.comment .com_content ul li p{
	position: relative;
}
.comment .com_content ul li p span{
	position: absolute;
	top:34%;
	left:30%;
	font-size:1.2rem;
}
.comment .com_content ul li p img:nth-child(3){
	position: absolute;
	right:0;
	top:30%;
}
.comment .com_content ul li p:nth-child(2){
	width:100%;
	height:50px;
	font-size:1.4rem;
	line-height:50px;
	margin-bottom:6%;
}
.comment .com_content ul li p:nth-child(3){
	margin-bottom:2%;
}
.comment .com_content ul li p:nth-child(3) i{
	font-style:normal;
	color:#808080;
}
.comment .com_content ul li p:nth-child(3) i:nth-child(2){
	margin-left:52%;
}
.comment .Pro_details ul{
	width:100%;
}
.comment .Pro_details ul li{
	width:90%;
	color:#333333;
	border-bottom:1px solid #bbbbbb;
	margin:3% 5% 0 4%;
	padding:0 0 5% 0;
	font-size:1.2rem;
}
.comment .Pro_details ul li p{
	line-height:28px;
}
.comment .Pro_details ul .yuanliao p{
	color:#808080;
}
.comment .Pro_details ul li p:nth-child(1){
	color:#333333;
	margin-bottom:2%;
}
.comment .Pro_details ul li:last-child{
	border-bottom:0;
}
.comment .share{
	width:100%;
    background-color:#fff;
    position: fixed;
    z-index: 2;
    bottom:0;
    left:0;
}
.comment .share .shopping{
	display: inline-block;
	float:left;
	color:#808080;
}
.comment .share .shopping img{
	width:60%;
	height:60%;
}
.comment .share .shopping span{
	display: block;
}
.comment .share .shop_che img{
	position: relative;
	left:5px;
}
.comment .share .shop{
	margin-left:15px;
	padding:5px 0;
}
.comment .share .shop_che{
	padding:5px 0;
}
.comment .share .jiaru,.buy{
	height:67px;
	line-height: 67px;
	text-align: center;
}
.comment .share .jiaru{
	width:121px;
	color:white;
	background-color: #fdd42d;
}
.comment .share .buy{
	width:118px;
	color:white;
	background-color: #df4442;
}
@media (width:320px){
	.comment .com_content ul li p:nth-child(2){
		font-size:1.2rem;
	}
	.comment .share .jiaru{
	width:91px;
	color:white;
	background-color: #fdd42d;
}
.comment .share .buy{
	width:92px;
	color:white;
	background-color: #df4442;
}   
}