*{margin: 0;padding: 0;}
a{
    text-decoration: none;
    
}
li{
    list-style-type: none;
}
/*基于最大盒子的媒体查询响应*/
@media screen and (min-width:900px) {
    html {
        font-size: 25px;
    }
}
@media screen and (min-width:700px) and (max-width:900px) {
    html {
        font-size: 18px;
    }
}
@media screen and (min-width:400px) and (max-width:700px) {
    html {
        font-size: 12px;    
    }
}
@media screen and (min-width:370px) and (max-width:400px) {
    html {
        font-size: 11px;
    }
}
@media screen and (min-width:350px) and (max-width:370px) {
    html {
        font-size: 10.5px;
    }
}
@media screen and (min-width:300px) and (max-width:350px) {
    html {
        font-size: 9.3px;
    }
}
@media screen and (max-width:300px) {
    html{
        font-size: 6px;
    }
}
/*reaing首页*/
.reading_box,.grumpy_box,.help_box,.For_Help_Type,.add_pet,.add_pet_content{
    width:100%;
}
.reading_head,.grumpy_head,.help_head,.For_help_type_bar,.add_pet_bar{
    width:100%;
    height: 44px; 
    background-color:#df4442;
    position: relative;
}
.reading_label,.grumpy_label,.help_label,.For_help_type_label,.add_pet_label{
    width: 4.255555%;
    height:50%;
    position: absolute;
    top: 12px;
    left: 20px;
}
.reading_guide,.help_guide,.For_help_type_guide,.add_pet_guide{
    margin:auto;
    font-size: 1.5rem;
    color:#fff;
    position: absolute;
    top: 12px;
    left:50%;
    margin-left: -35px;
}
.grumpy_guide{
    margin:auto;
    font-size: 1.5rem;
    color:#fff;
    position: absolute;
    top: 12px;
    left:50%;
    margin-left: -73px;
}

#app{
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}
#app li{
    width:100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.5rem;
    color:#333333;
    position: relative;
}
#app img{
    vertical-align:middle;
    /*margin-top: 12px;*/
    width: 10px;
    height:17px;
    position: absolute;
    right: 3px; 
    top: 15px; 
}
.grumpy_share{
   font-size: 1.4rem;
   color:#fff;
   position: absolute;
   top: 12px;
   right:15px; 
}
.content_boxx{
    width: 100%;
    font-size: 1.5rem;
    
}
.title_first1,.title_first2{
    width: 100%;
    background-color: #eaeaea;
    height: 44px;
    line-height: 44px;
    text-indent: 15px;
}
.content_first1,.content_first2{
    padding: 15px;
    width: 90%;
    font-size: 1.4rem;
}

/*蒙版*/
.popWindow {  
        background-color:#000;  
        width: 100%;  
        height: 100%;  
        left: 0;  
        top: 0;  
        filter: alpha(opacity=50);  
        opacity: 0.5;  
        z-index: 10;  
        position: absolute; 
    } 
    .maskLayer { 
        border:1px solid #ccc;   
        background-color:#fff;  
        width:100%;  
        height: 270px;  
        line-height: 30px;  
        left: 0;  
        bottom: 0;  
        color:#000;  
        z-index: 20;  
        position:absolute; 
        color:#6b6b6b; 
          
    }


    /*分享 */
    .share_here{
      width: 100%;
      height: 44px;
      border: 1px solid #eaeaea;
      line-height: 44px;
      font-size: 1.5rem;
      text-indent:15px;
    }
    .share_this{
      width: 100%;
      height:82%;
    }
    .share_this #mb{
  height: 70%;
    }
    .share_this #fxto{
      height: 30%;
      padding-bottom: 10px;
      background-color: #fff;
    }
    .share_this .wenzi{
      padding: 5px 10px;
      border-bottom: 1px solid #ccc;
    }
    .share_this .fxtu{
      float: left;
      padding: 10px 20px;
      text-align: center;
    }
    .share_this .fxtu img{
      width: 45px;
      height: 44px;
    }

    #For_help{
        width: 80%;
        height: 44px;
        background-color:#df4442; 
        border-radius: 10px;
        font-size: 1.5rem;
        color: white;
        position: relative;
        left: 50%;
        top: 20px;
        margin-left: -40%;
    }

    .prompt{
        position: relative;
        width: 80%;
        top: 30px;
        left: 50%;
        margin-left: -40%;
        font-size: 1.3rem;
        color: #eaeaea;
    }

     /*发求助*/
    #help,#For_help_type{
    width: 90%;
    padding: 0 15px;
    list-style-type: none;
}
   #help li,#For_help_type li{
    width:100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.5rem;
    color: #d9d9d9;;
    position: relative;
}
    #help img{
    vertical-align:middle;
    /*margin-top: 12px;*/
    width: 10px;
    height:17px;
    position: absolute;
    right: 3px; 
    top: 15px; 
}
   .help_null{
    width: 100%;
    height: 15px;
    background-color: #eaeaea;
}
  #help hr{
    border-top: #eaeaea;
  }

   #help hr:nth-child(4){
    width: 0px;
    height: 0px;
    background-color: #fff;
}
.help_content{
    width: 90%;
    padding:0 15px;
    position: relative;

}

.help_content input::-webkit-input-placeholder{color:#d9d9d9;}
.help_content textarea::-webkit-input-placeholder{color:#d9d9d9;}
.help_content textarea{
    margin-top: 15px;
    width: 100%;
    height: 200px;
    outline:none;
    overflow:auto;
    background-attachment:fixed;
    background-repeat:no-repeat;
    border-style:solid; 
    border-color:#FFFFFF;
    resize : none;
    font-size: 1.5rem;
    color: #000;
    
}
.help_content input{
    width: 100%;
    height: 44px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.5rem;
}
.help_complete{
    font-size: 1.4rem;
    color:#fff;
    position: absolute;
    top: 12px;
    right: 15px;
     
}

/*求助类型----添加宠物*/
#For_help_type img{
    vertical-align:middle;
    /*margin-top: 12px;*/
    width: 38px;
    height:38px;
    position: absolute;
    left: 3px;
    top: 3px; 
    
}
#For_help_type span{
    display: block;
    height: 22px;
    position: relative;
    left: 50px;
    line-height: 24px;

}
#contenttype{
    font-size: 1.3rem;
}
#biaoti{
    color:#808080;
}
.add_pet_content{
    position: relative;
   
}
.add_pet_content button{
    width: 80%;
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left:-40%;
    color:#fff; 
    height: 44px; 
    border: 1px solid #df4442;
    background-color: #df4442;
    border-radius: 7px;
    font-size: 1.4rem;
}