.helpA{
	display: block;
	width: 92%;
	height: 104px;
	color: #808080;
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid #d2d2d2;
}
.helpImg{
	vertical-align: middle;
	position: relative;
	top: 12px;
}
.helpType{
	font-size: 32px;
	color: #808080;
	position: absolute;
	left: 24.8%;
	top: 8px;
}
.helpIntroduce{
	font-size: 24px;
	color: #c9c9c9;
	position: absolute;
	left: 24.8%;
	top: 53px
}