@charset "utf-8";
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym,address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt,var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody,tfoot,thead,tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header,hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video
{
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul ,ol {
    list-style: none;
}
body,html{
    height: 100%;
    width: 100%;
}
#app{
	width: 100%;
	height: 100%;
	position:relative;
}
#app ul{
	display: block;
	width:100%;
	height:8%;
	position: fixed;
	bottom: 0;
	font-size: 14px;
	background-color: #eeeeee;
	z-index: 999;
	font-weight: bold;
}
#app ul li{
	display: inline-block;
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
}
#app ul li a img{
	width: 30%;
	height: 50%;
}
#app ul li img{
	width: 80%;
	height: 130%;
}
#sub_circle{
	width: 100%;
	height: 100%;

}
#sub_circle .header{
    width: 100%;
    height: 6%;
    background-color: #df4442;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height:40px;
    position: fixed;
    top: 0;
    z-index: 999;
}
#sub_circle .header span{
	display: inline-block;
	width:25%;
	height: 95%;
	border-bottom:4px solid white; 
}
#sub_circle .header span:nth-child(2){
	border-bottom:none; 

}
#sub_circle .box{
	width: 100%;
	height: 94%;
}
#sub_circle .box .sub_box{
	width: 100%;
	height: 25%;
}
#sub_circle .box .sub_box img{
	width: 100%;
	height: 100%;
}
#sub_circle .box .content_box{
	width: 100%;
	height: 75%;
}
.up_div{
	width: 100%;
    height: 15%;
    position: relative;
}
.up_div .head_img{
	width: 15%;
	height:70%;
	position: absolute;
	top: 15%;
	left: 3%;
}
.up_div .head_img img{
	width: 100%;
	height: 100%;
}
.up_div span:nth-child(2){
   display: inline-block;
   position: absolute;
   top: 15%;
   left: 22%;
   font-size: 20px;
}
.up_div span:nth-child(2) span{
	display: inline-block;
	width: 15%;
	height: 10%;
}
.up_div span:nth-child(2) span img{
	width: 100%;
	height: 100%;

}
.up_div span:nth-child(3){
	display: inline-block;
	position: absolute;
	bottom: 15%;
	left: 22%;
	font-size: 14px;
	color: gray;
} 
.up_div span:nth-child(4){
	width: 20%;
	display: inline-block;
	position: absolute;
	bottom: 15%;
	left: 40%;
	font-size: 14px;
	color: gray;
} 
.up_div span:nth-child(4) span{
   display: inline-block;
   width: 16%;
   height: 10%;
}
.up_div span:nth-child(4) span img{
	width: 100%;
	height: 100%;
}
.up_div span:nth-child(5){
	display: inline-block;
	border:2px solid red;
	width: 16%;
	height: 40%;
	position: absolute;
	right: 5%;
	top: 30%;
	text-align: center;
	line-height: 160%;
	border-radius: 20px;
	color: red;
}
.center_div{
	width: 100%;
	height: 65%;
}
.center_div img{
	width: 100%;
	height: 100%;
}
.bottom_div{
	width: 100%;
	height:20%; 
	position: relative;
}
.bottom_div span:nth-child(1){
	width: 90%;
	height: 45%;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 200%;
	font-size: 18px;
}
.bottom_div span:nth-child(2){
	width: 100%;
	height: 45%;
	position: absolute;
    top: 45%;
    border-bottom: 1px solid red;
}
.bottom_div span:nth-child(3){
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	background-color: #eeeeee;
}
.bottom_div span:nth-child(2) li {
	list-style-type: none;
	display: inline-block;
	width: 30%;
	height: 70%;
	border-right:2px solid #eeeeee;
	position: relative;
	top:10%;
	box-sizing:border-box;  
}
.bottom_div span:nth-child(2) li span:nth-child(1){
	border-bottom: none;
	width: 18%;
	height: 80%;
	position: absolute;
	left: 30%;
	top: 10%;
}
.bottom_div span:nth-child(2) li span:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.bottom_div span:nth-child(2) li span:nth-child(2){
	border-bottom: none;
	position: absolute;
	left:55%;
	top: 15% ;
	width: 20%;

}



#sub_circle .header{
    width: 100%;
    height: 6%;
    background-color: #df4442;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height:40px;
    position: fixed;
    top: 0;
    z-index: 999;
}
#sub_circle .header span{
	display: inline-block;
	width:25%;
	height: 95%;
	border-bottom:4px solid white; 
}
#sub_circle .header span:nth-child(2){
	border-bottom:none; 

}
#sub_circle .box1{
	width: 100%;
	height: 94%;
}
#sub_circle .box1 .sub_box1{
	width: 100%;
	height: 7%;
}
#sub_circle .box1 .sub_box1 img{
	width: 100%;
	height: 100%;
}
#sub_circle .box1 .content_box1{
	width: 100%;
	height: 75%;
}
.content_box1 .up_div{
	width: 100%;
    height: 15%;
    position: relative;
}
.content_box1 .up_div .head_img{
	width: 15%;
	height:70%;
	position: absolute;
	top: 15%;
	left: 3%;
}
.content_box1 .up_div .head_img img{
	width: 100%;
	height: 100%;
}
.content_box1 .up_div span:nth-child(2){
   display: inline-block;
   position: absolute;
   top: 15%;
   left: 22%;
   font-size: 20px;
}
.content_box1 .up_div span:nth-child(2) span{
	display: inline-block;
	width: 15%;
	height: 10%;
}
.content_box1 .up_div span:nth-child(2) span img{
	width: 100%;
	height: 100%;

}
.content_box1 .up_div span:nth-child(3){
	display: inline-block;
	position: absolute;
	bottom: 15%;
	left: 22%;
	font-size: 14px;
	color: gray;
} 
.content_box1 .up_div span:nth-child(4){
	width: 20%;
	display: inline-block;
	position: absolute;
	bottom: 15%;
	left: 40%;
	font-size: 14px;
	color: gray;
} 
.content_box1 .up_div span:nth-child(4) span{
   display: inline-block;
   width: 16%;
   height: 10%;
}
.content_box1 .up_div span:nth-child(4) span img{
	width: 100%;
	height: 100%;
}
.content_box1 .up_div span:nth-child(5){
	display: inline-block;
	border:2px solid red;
	width: 16%;
	height: 40%;
	position: absolute;
	right: 5%;
	top: 30%;
	text-align: center;
	line-height: 160%;
	border-radius: 20px;
	color: red;
}
.content_box1 .center_div{
	width: 100%;
	height: 65%;
}
.content_box1 .center_div img{
	width: 100%;
	height: 100%;
}
.content_box1 .bottom_div{
	width: 100%;
	height:20%; 
	position: relative;
}
.content_box1 .bottom_div span:nth-child(1){
	width: 90%;
	height: 45%;
	border-bottom: 1px solid gray;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 200%;
	font-size: 18px;
}
.content_box1 .bottom_div span:nth-child(2){
	width: 100%;
	height: 45%;
	position: absolute;
    top: 45%;
    border-bottom: 1px solid red;
}
.content_box1 .bottom_div span:nth-child(3){
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	background-color: #eeeeee;
}
.content_box1 .bottom_div span:nth-child(2) li {
	list-style-type: none;
	display: inline-block;
	width: 30%;
	height: 70%;
	border-right:2px solid #eeeeee;
	position: relative;
	top:10%;
	box-sizing:border-box;  
}
.content_box1 .bottom_div span:nth-child(2) li span:nth-child(1){
	border-bottom: none;
	width: 18%;
	height: 80%;
	position: absolute;
	left: 30%;
	top: 10%;
}
.content_box1 .bottom_div span:nth-child(2) li span:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.content_box1 .bottom_div span:nth-child(2) li span:nth-child(2){
	border-bottom: none;
	position: absolute;
	left:55%;
	top: 15% ;
	width: 20%;

}
.mengban1{
	width: 100%;height: 35%;background-color:white;z-index:9999;position: fixed;bottom: 0;display: none;
}
.mengban2{
	width: 100%;height: 65%;background-color:black;z-index:9999;position: fixed;top: 0;opacity: 0.5;display: none;
}
.mengban1 .sub_to{
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.mengban1 .sub_to span{
	position: absolute;
    top: 28%;
    left: 5%;
}
.mengban1 .sub_content{
	width: 100%;
	height: 80%;
}
.mengban1 .sub_content ul{
	width: 100%;
	height: 100%;
	display: block;
}
.mengban1 .sub_content ul li{
	display: inline-block;
	float: left;
	width: 22%;
	height: 45%;
	margin-left: 3%;
	text-align: center;
	margin-top: 3%;
}
.mengban1 .sub_content ul li span{
	display: inline-block;
	width: 60%;
	height: 60%;
	border-radius: 50%;
}
.mengban1 .sub_content ul li span img{
	width: 100%;
	height: 100%;
}
