div,html,body,p,span,a,ul,i,em,li,ol,img,input,button,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
	list-style-type: none;
	text-decoration: none;
}
/*基于最大盒子的媒体查询响应*/
@media screen and (min-width:900px) {
	html {
		font-size:18px;
	}
}
@media screen and (min-width:700px) and (max-width:900px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width:400px) and (max-width:700px) {
	html {
		font-size: 12px;	
	}
}
@media screen and (min-width:370px) and (max-width:400px) {
	html {
		font-size: 11px;
	}
}
@media screen and (min-width:350px) and (max-width:370px) {
	html {
		font-size: 10.5px;
	}
}
@media screen and (min-width:300px) and (max-width:350px) {
	html {
		font-size:14px;
	}
}
@media screen and (max-width:300px) {
	html{
		font-size: 6px;
	}
}
.market .nav{
	width:100%;
	height:8%;
	background-color: #df4442;
}
.market .nav img{
    position: relative;
    left:8px;
    top:2px;
}
.market .nav p{
    color:white;
    font-size:2.0rem;
    float:right;
    width:55%;
    margin-top: 0.2rem;
}
/*顶部结束*/
.market .keys{
	width:100%;
	height:92%;
	float:left;
    background-color:#eaeaea;
}
.market .keys .left{
    width:50%;
    float:left;
    background-color:#eaeaea;
}
.market .keys .left li{
	width:100%;
	padding:10% 0;
	font-size:1.6rem;
	color:#333;
	background-color: #dcdcdc;
	border-bottom:0.1rem solid gray;
}
.market .keys .left li img{
	position: relative;
	left:5%;
}
.market .keys .left li p{
	float:right;
	margin-top:30px;
	margin-right:20px;
}
.market .keys .right{
	width:50%;
	float: right;
	display: none;
}
.market .keys .right li{
	padding:25% 0;
	font-size:2.1rem;
	color:#df4442;
	text-align: center;
	background-color:white;
	border-bottom:0.1rem solid gray;
	border-left:0.1rem solid gray;
}
.market .keys .right li a{
	color:#df4442;
}
.market .keys .right2{
	border-top:0.1rem solid gray;
}