.body .b_passwordS{
    width: 90%;
    height: 51.5px;
    border-bottom:1px solid #d2d2d2;
    position: relative;
    left: 5%;
}
.body .b_passwordS span{
	display: block;
	width: 6%;
	height: 45%;
	position: absolute;
	top: 15px;
}
.body .b_passwordS span img{
    width: 100%;
    height: 100%;
}
.body .b_passwordS input{
	width: 70%;
	height: 40px;
	font-size: 25px;
	position: absolute;
	bottom: 5px;
	left:12%;
	border:none;
	outline: none;
	color: #c9c9c9;
}
.body .b_verification{
    width: 90%;
    height: 51.5px;
    border-bottom:1px solid #d2d2d2;
    position: relative;
    left:5%;
}
.body .b_verification span:nth-child(1){
	display: block;
	width: 8%;
	height: 40%;
	position: absolute;
	top: 15px;

}
.body .b_verification span img{
    width: 100%;
    height: 100%;
}
.body .b_verification input{
	width: 40%;
	height: 40px;
	font-size: 18px;
	position: absolute;
	bottom: 3px;
	left:12%;
	border:none;
	outline: none;
	color: #c9c9c9;
}
.body .b_verification span:nth-child(3){
	width: 30%;
	height: 40px;
	display: block;
	background-color: #df4442;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	right: 0;
	bottom: 5px;
	color: white; 
}
.body .save{
	width: 90%;
	height: 40px;
	background-color: #df4442;
	text-align: center;
	line-height: 40px;
	border-radius: 8px;
	position: absolute;
	left: 5%;
	margin-top: 18.5px;
	color: white;
}