body{background: #eaeaea;}
.back img{
	margin-top: 10px;
	width: 20px;height: 25px;
}
.button img{
	margin-top: 10px;
	width: 25px;height: 25px;
}
.back{
	float: left;
}
.button{
	float: right;
}
.img{
	position: relative;
}
.img .da{
	width: 100%;
}
.img .touxiang img{width: 50%;}
.img .touxiang{
	width: 40%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -20%;
	margin-left: -20%;
	color: #fff;
	text-align: center;
	line-height: 2;
}
.fensi{
	background: #fff;
	padding: 5px;
	margin-top: -3px;
	display: -webkit-box;
}
.fensi a{
	display: block;
	border-right: 1px solid #c9c9c9;
	-webkit-box-flex: 1;
	text-align: center;
	color: #000;
}
.fensi a:last-child{border: none;}
.fensi a .fs{color: #808080;}
.ul{margin-top: 10px;}
.ul li{
	background: #fff;
	border-bottom: 1px solid #c9c9c9;
	padding: 10px;
}
.ul a{color: #333;}
.ul li img:first-child{
	width: 6%;
	margin-right: 10px;
}
.ul li img:last-child{
	width: 3%;
	float: right;
}
.ul li .select{
	position: relative;
	top: -3px;
}
.foot{
	width: 100%;
	/*height: 60px;*/
	background: #f2f2f2;
    /*position: fixed;
    bottom: 0;*/
    position: absolute;
    bottom: 0;
    display: -webkit-box;
}
.foot a {
	display: block;
	-webkit-box-flex: 1;
	text-align: center;
	padding-top: 10px;
	color: #808080;
}
.foot a img{
	width: 40%;
}
.foot a #inde {
	width: 60%;
	margin-top: -20px;
}
