.action{
	padding: 10px;
	padding-bottom: 20px;
	position: relative;
	margin-top: 44px;
}
.action .youke img{
	width: 40px;
	height: 40px;
}
.action .youke p{
	position: absolute;
	top: 20px;
	left: 70px;
	font-size: 16px;
	color: #333333;
}
.action .youke span{
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 16px;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 5px;
	padding: 5px;
}
h5{margin-top:5px;color: #808080;}
.action .hsq{margin-top: 5px;}
.action .hsq span{
	font-size: 16px;
	color: #808080;
}
.action .hsq img{
	position: relative;
	top: 5px;
	width: 17px;
	height: 18px;
}
.p{
	font-size: 13px;
	color: #808080;
	margin-top: 13px;
}
.img{padding: 0 10px;}
.img img{
	width: 100%;
}
.dizhi{
	padding: 12px;
	color: #808080;
	font-size: 14px;
}
.dizhi span{
	color: #C9C9C9;
}
.dizhi img{
	position: relative;
	top: 4px;
	width: 18px;
	height: 19px;
}
#time{
	margin-top: 5px;
	float: right;
}
.peidui{
	color: #DF4442;
	margin-bottom: 9px;
}
.pinglun{
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
.pinglun img{
	position: relative;
	top: 4px;
	width: 23px;height: 23px;
}
.pinglun input{
	width: 60%;
	height: 40px;
    margin-left: 1%;
    margin-right: 2%;
	padding-left: 10px;
	background-color: #eeeeee;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}
.pinglun span{
	border: 1px solid #DF4442;
	border-radius: 5px;
	padding: 8px 10px;
	background-color: #DF4442;
	color: #fff;
}
.foot{
	padding-bottom: 10px;
	height: 100%;
	background-color: rgba(127,127,127,0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
}
.foot #mb{
	height: 70%;
}
.foot #fxto{
	height: 30%;
	padding-bottom: 10px;
	background-color: #fff;
}
.foot .wenzi{
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}
.foot .fxtu{
	float: left;
	padding: 10px 20px;
	text-align: center;
}
.foot .fxtu img{
	width: 45px;height: 44px;
}
