/*设置全局样式*/
* {
	margin: 0;
	padding: 0;
}
html,body,.body {
	width: 100%;
	height: 100%;
}
/*基于最大盒子的媒体查询响应*/
@media screen and (min-width:900px) {
	html {
		font-size: 25px;
	}
}
@media screen and (min-width:700px) and (max-width:900px) {
	html {
		font-size: 18px;
	}
}
@media screen and (min-width:400px) and (max-width:700px) {
	html {
		font-size: 12px;	
	}
}
@media screen and (min-width:370px) and (max-width:400px) {
	html {
		font-size: 11px;
	}
}
@media screen and (min-width:350px) and (max-width:370px) {
	html {
		font-size: 10.5px;
	}
}
@media screen and (min-width:300px) and (max-width:350px) {
	html {
		font-size: 9.3px;
	}
}
@media screen and (max-width:300px) {
	html{
		font-size: 6px;
	}
}
/*上面红色导航栏*/
.body .nav {
	height: 8%;
	background-color: #DF4442;
	color: white;
	position: relative;
}
/*左边箭头*/
.body .nav :nth-child(1) {
	height: 2.5rem;
	position: absolute;
	left: 1rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*中间字*/
.body .nav :nth-child(2) {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 30%;
	height: 40%;
	text-align: center;
	font-size: 1.5rem;
	white-space: pre;
}
/*右边字*/
.body .nav :nth-child(3) {
	position: absolute;
	right: 1rem;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 8%;
	height: 20%;
	text-align: center;
	font-size: 1.2rem;
	white-space: pre;
}
/*下面内容部分大盒子*/
.content {
	height: 92%;
}